<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= flights.title %></div>
  <div>Airline: </div>
  <div><%= flights.airline %></div>
  <div>Airport: </div>
  <div><%= flights.airport %></div>
  <div>FlightNo: </div>
  <div><%= flights.flightNo %></div>
  <div>Departs: </div>
  <div><%= movie.nowShowing ? 'Yes' : 'Nope' %></div>
</section>
  
<%- include('../partials/footer') %>