<%- include('../partials/header') %>

<div>
  <table class="table text-center mt-5 p-3">
    <thead>
      <tr>
        <th>
          Flight#
        </th>
        <th>
          Airline
        </th>
        <th>
          Departure Airport
        </th>
        <th>
          Date
        </th>
      </tr>
    </thead>
    <tbody>
      <td><%= flight.flightNo %></td>
      <td><%= flight.airline %></td>
      <td><%= flight.airport %></td>
      <td><%= flight.departs.toLocaleString() %></td>
    </tbody>
  </table>
</div>
  
<%- include('../partials/footer') %>